<div class="container" ng-controller="sts.views.task.new as vm">
    <form id="NewTaskForm" role="form" class="form-horizontal" name="newTaskForm" novalidate>
        <div class="form-group">
            <label for="Title">@L("Title")</label>
            <input id="Title" ng-model="vm.task.title" class="form-control" placeholder="@L("EnterTitleHere")" required />
        </div>
        <div class="form-group">
            <label for="TaskDescription">@L("TaskDescription")</label>
            <textarea id="TaskDescription" ng-model="vm.task.description" class="form-control" rows="3" placeholder="@L("EnterDescriptionHere")" required></textarea>
        </div>
        <div class="form-group">
            <label for="TaskLevel">@L("TaskLevel")</label>
            <select id="TaskLevel" class="form-control" ng-model="vm.task.taskLevel"
                    ng-options="x.value as x.text for x in vm.taskLevel"></select>
        </div>
        <div class="form-group">
            <label for="dtp_begintime">@L("BeginTime")</label>
            <div class="input-group date col-md-3" data-date-format="p" data-link-field="dtp_begintime">
                <input class="form-control" size="16" type="text" value="" readonly>
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
            </div>
            <input type="hidden" id="dtp_begintime" ng-model="vm.task.beginTime" /><br />
        </div>
        <div class="form-group">
            <label for="dtp_endtime">@L("EndTime")</label>
            <div class="input-group date col-md-3" data-date-format="p" data-link-field="dtp_endtime">
                <input class="form-control" size="16" type="text" value="" readonly>
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
            </div>
            <input type="hidden" id="dtp_endtime" ng-model="vm.task.endTime" /><br />
        </div>
        <div class="form-group">
            <label for="TaskCategory">@L("TaskCategory")</label>
            <select id="TaskCategory" class="form-control" ng-model="vm.task.taskCategory"
                    ng-options="x.value as x.text for x in vm.taskCategory"></select>
        </div>
        <div class="form-group">
            <label for="RepeatMode">@L("RepeatMode")</label>
            <select id="RepeatMode" class="form-control" ng-model="vm.task.repeatMode"
                    ng-options="x.value as x.text for x in vm.repeatMode"></select>
        </div>
        <div class="form-group">
            <label for="Frequency">@L("Frequency")</label>
            <input id="Frequency" ng-model="vm.task.frequency" class="form-control" placeholder="@L("Frequency")" />
        </div>
        <div class="form-group">
            <label for="RepeatDays">@L("RepeatDays")</label>
            <input id="RepeatDays" ng-model="vm.task.repeatDays" class="form-control" placeholder="@L("RepeatDays")" />
        </div>
        <div class="form-group">
            <label for="RepeatType">@L("RepeatType")</label>
            <select id="RepeatType" class="form-control" ng-model="vm.task.repeatType"
                    ng-options="x.value as x.text for x in vm.repeatType"></select>
        </div>
        <div class="form-group">
            <label for="RemindType">@L("RemindType")</label>
            <select id="RemindType" class="form-control" ng-model="vm.task.remindType"
                    ng-options="x.value as x.text for x in vm.remindType"></select>
        </div>
        <div class="form-group">
            <label for="dtp_remindtime">@L("RemindTime")</label>
            <div class="input-group date col-md-3" data-date-format="p" data-link-field="dtp_remindtime">
                <input class="form-control" size="16" type="text" value="" readonly>
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
            </div>
            <input type="hidden" id="dtp_remindtime" ng-model="vm.task.remindTime" /><br />
        </div>
        <div class="form-group">
            <label for="TaskAssignedPerson">@L("AssignTo")</label>
            <select id="TaskAssignedPerson" class="form-control" ng-model="vm.task.assignedPersonId" ng-options="person.id as person.name for person in vm.people">
                <option value="">@L("SelectPerson")</option>
            </select>
        </div>
        <div class="form-group">
            <label for="TaskState">@L("TaskCategory")</label>
            <select id="TaskState" class="form-control" ng-model="vm.task.taskState"
                    ng-options="x.value as x.text for x in vm.taskState"></select>
        </div>
        <input type="hidden" value="{{vm.task.id}}" />
        <br />
        <br />
        <br />
        <div class="navbar-fixed-bottom text-center" style="background-color: #f5f5f5; border: 1px solid #d3d3d3; padding: 5px; margin: 0 89px;">
            <button ng-click="vm.task.id==0?vm.createTask():vm.updateTask()" ng-disabled="newTaskForm.$invalid" type="submit"
                    class="btn btn-primary">
                @L("Save")
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button ng-click="vm.returnList()" type="button" class="btn btn-primary">@L("ReturnList")</button>
        </div>
    </form>
</div>
